<div class="confirmation">


<h3>Congratulations!</h3>
<p class= "notify">you will be notified when your order is shipped</p>

<div class = "billing">
  <div class="smaller">


<p>Billing Name:  <%=@order.billing.cc_name %> </p>
<p>Email: <%= @order.billing.email %> </p>
<p>Credit Card Number: <strong>Visa</strong> ******** <%= @order.billing.cc_number[-4..-1] %> </p>
<p>Address: <%= @order.billing.address %> </p>
<p>Zipcode: <%= @order.billing.zip %> </p>
</div>

</div>
<!--
<div class="sure">

</div> -->


<h3>Order</h3>

<section class="order_items">


  <% @order_items.each do |item| %>
  <div class="item">
    <h4><%= item.product.name %>  </h4>
    <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %>  </p> <%= image_tag((item.product.image_url), class: "cart")%>

  </div>
  <% end %>



<div class="total">
  <p>Total Paid: <%= number_to_currency @order.calculate_total %></p>

</div>


</section>

</div>
