<div class="current">


<h3>Shopping cart</h3>

<section class="order_items">

<% if @order_items.any? %>

  <% @order_items.each do |item| %>

  <!-- <div class="item small-up-1 medium-up-4 large-up-6">
    <h4><%= item.product.name %> | <span> <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"}, class: 'delete button' %> </span> </h4> -->

  <div class="item">
    <h4> <span> <%= item.product.name %> </span>| <span> <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"}, class: 'delete button' %> </span> </h4>
    <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= render partial: "orders/update_quantity", locals: { item: item }%> | Total Price: <%= number_to_currency (item.product.price * item.quantity) %> <%= image_tag((item.product.image_url), class: "cart")%>  </p>

  </div>
  <% end %>



<div class="total">
  <p>Your Total: <%= number_to_currency current_order.calculate_total %></p>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
</div>

<div class = "checkout">

<% if current_order.status == "pending" %>
<%= link_to "Check Out", new_billing_path, class: 'submit button'%>
<% end %>

</div>
</section>
</div>
