<ul>
  <%# @category.products.each do |product| %>
    <li><%#= link_to product.name, product_path(product.id) %></li>
  <%# end %>
</ul>
<%= form_for current_order do |f| %>
<%= f.label :name %>
<%= f.text_field :cc_name, required: true  %>
<%= f.label :email %>
<%= f.text_field :email, required: true   %>
<%= f.label :address %>
<%= f.text_field :address, required: true   %>
<%= f.label :credit_card_number%>
<%= f.number_field :cc_number, required: true  %>
<%= f.label :credit_card_expiration%>
<%= f.date_select :cc_exp, {discard_day: true}, required: true   %>
<%= f.label :credit_card_cvv %>
<%= f.number_field  :cc_cvv, required: true  %>
<%= f.label :zip %>
<%= f.number_field  :zip, required: true  %>
<%= f.hidden_field :status, value: "paid" %>
<%#= f.hidden_field :inventory, value: @product.inventory - @order.order_item.quantity %>

<!-- QUESTION: is this required: true enough of a safegaurd? why does order_params not ensure the presence of these? -->
<!-- if I validate in the order model, a cart will not be started. -->
<%= f.submit "Submit Order"%>

<% end %>
