<h1> Order Summary</h1>
 <p>ORDER #<%= @order.id %> </p>
<% if @order_items %>
  <% @order_items.each do |item| %>
      <p> Name: <%= item.product.name %></p>
      <p> Unit Price: <%= number_to_currency item.product.price %></p>
      <p> Quantity: <%= item.quantity %></p>
      <p> Status:
        <%if item.shipped_status == "false"%>
      pending
    <% else %>
  shipped</p>
  <% end %>
    <% end %>
    <p> Total Price: <%= @order.calculate_total %></p>
  <% end %>


<!--DL changed item.status in line 8 to item.shipped_status  -->
<!--DL added logic to display 'shipped' or 'pending' instead of true or false for status  -->
<!-- maybe we can make this into a table? -->
