<div class="sure">


<h3>Confirm Information</h3>

<div class = "billing">
  <div class="smaller">


<p>Billing Name:  <%=@order.billing.cc_name %> </p>
<p>Email: <%= @order.billing.email %> </p>
<p>Credit Card Number: <strong>Visa</strong> ******** <%= @order.billing.cc_number[-4..-1] %> </p>
<p>Address: <%= @order.billing.address %> </p>
<p>Zipcode: <%= @order.billing.zip %> </p>
</div>

</div>

<div class="sure">

<p> Are you sure you want to place this order? </p>
</div>
<%#= link_to "Confirm", order_submit_path, method: :ps %>
<%= link_to "Submit", order_submit_path, method: :post, class: "submit button"%>
</div>

<%#= link_to "Edit Billing Info", edit_billing_path(@order.billing.id) %>

<!-- this link does the post method of submit and gets us to the summary page...I wonder if we need a post
for submit or if  the order is already changed to paid by the time we get to this page. something to look into -->
