<h1>THIS IS THE MERCHANT SHOW PAGE</h1>

Name: <%= @merchant.name %>
</p>
<p>Total Revenue: <%= @total_revenue %> </p>
<p>Total Revenue by Category </p>

<p>Pending Revenue:
<%= @pending_revenue %>
</p>

<p>Pending Number:
<%= @pending_number %>
</p>

<p>Paid Revenue:
<%= @paid_revenue %>
</p>

<p>Paid Number:
<%= @paid_number %>
</p>

<p>Shipped Revenue:
  <%= @shipped_revenue %>
</p>

<p>Shipped Numer:
  <%= @shipped_number %>
</p>

<p>Completed Revenue:
  <%= @completed_revenue %>
</p>

<p>Completed Number:
  <%= @completed_number %>
</p>

<h4>Orders containing your products: </h4>
<% @merchant_orders.each do |mo| %>
<%= link_to mo.id, order_path(mo.id) %>
<% end %>



<table>
  <h3>Orders:</h3>
<thead>
  <tr>
    <th>Order ID</th>
    <th>Prodcut</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th>Order Placed</th>
    <th>Mark as Shipped</th>
    <th>Order Status</th>
  </tr>
</thead>

<tbody>
  <% if @merchant_order_items == [] %>
  <h4>No Orders placed with you yet</h4>
  <% else %>
  <% @merchant_order_items.each do |oi|%>
  <tr>
    <td><%= link_to oi.order.id, order_path(oi.order.id) %> </td>
    <td><%= link_to oi.product.name, product_path(oi.product.id) %> </td>
    <td><%= oi.quantity %> </td>
    <td><%= oi.quantity * oi.product.price%> </td>
    <td><%= oi.order.date_submitted %> </td>
    <% if oi.order.status == "paid" || oi.order.status == "shipped"%>
    <% if oi.shipped_status == true%>
    <td>shipped <%= link_to "Unmark", mark_order_item_path(oi.id), method: :patch%></td>
    <% else %>
    <td> <%= link_to "Mark As Shipped", mark_order_item_path(oi.id), method: :patch %> </td>
    <% end %>
    <% else %>
    <td>order <%=oi.order.status%> <%= link_to "Unmark", mark_order_item_path(oi.id), method: :patch%></td>
    <% end %>

    <td><%= oi.order.status %></td>
  </tr>
  <% end %>
  <% end %>
</tbody>
</table>


<%= link_to "Edit Account Information", edit_merchant_path, class: "button"%>
<%= link_to "View and Edit Products", merchant_products_path(merchant_id: params[:id]), class: "button"%>
<%= link_to "Add a Category", new_category_path, class: "button"%>
