<section class="order-show small-up-2 medium-up-4 large-up-6">

    <h3 class="text-align-left"> Merchant Account: <%= @merchant.name%></h3>


  <%= link_to "Edit Account Information", edit_merchant_path, class: "button"%>
  <%= link_to "View and Edit Products", merchant_products_path(merchant_id: params[:id]), class: "button"%>
  <%= link_to "Add a Category", new_category_path, class: "button"%>

</section>

  <div class="merchant-background">
  <section class="row revenue ">
    <h4 class="total-revenue">Total Revenue: <%= number_to_currency @total_revenue %> </h4>
    <h4>Total Revenue by Category: </h4>
    <table class="small-12 column ">
      <thead>
        <tr>
          <th>
            Status
          </th>
          <th>
            Number of orders
          </th>
          <th>
            Revenue
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Pending
          </td>
          <td>
            <%= @pending_number %>
          </td>
          <td>
            <%= number_to_currency @pending_revenue %>
          </td>
        </tr>
        <tr>
          <td>
            Paid
          </td>
          <td>
            <%= @paid_number %>
          </td>
          <td>
            <%= number_to_currency @paid_revenue.round %>
          </td>
        </tr>
        <tr>
          <td>
            Shipped
          </td>
          <td>
            <%= @shipped_number %>
          </td>
          <td>
            <%= number_to_currency @shipped_revenue.round %>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="row orders-by-status small-up-1 medium-up-4 large-up-6">
    <h3 class="go-left">Orders containing your products: </h3>
    <% if @merchant_orders.empty? %>
    <h4 class="small-12 column"> No Orders placed with you yet</h4>
    <% end %>

    <div class="filter-form row small-up-1 medium-up-4 large-up-6">
      <%= render partial: "orders/filter_by_status" %>
    </div>
    <% if @orders_by_status.empty? %>
    <h4 class="small-12 column">You have no orders of that status</h4>
    <% end  %>
    <% @orders_by_status.each do |order| %>
    <h4 class="text-align-left">Order <%= order.id %></h4>
    <p>
      You earned <%=number_to_currency order.calculate_total %> in order <%= order.id %>
    </p>
    <div class="row small-up-1 medium-up-4 large-up-6">
      <table id="orders-filtered">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Order Placed</th>
            <th>Mark as Shipped</th>
            <th>Order Status</th>
          </tr>
        </thead>
        <tbody>
          <% order.order_items.each do |oi| %>
          <% if oi.product.merchant_id == session[:merchant_id]%>
          <div class="row small-up-1 medium-up-4 large-up-6">
          <tr>
            <td>
              <%= link_to oi.order.id, order_path(oi.order.id) %>
            </td>
            <td>
              <%= link_to oi.product.name, product_path(oi.product.id) %>
            </td>
            <td>
              <%= oi.quantity %>
            </td>
            <td>
              <%= number_to_currency (oi.quantity * oi.product.price)%>
            </td>
            <td>
              <% if order.date_submitted != nil %>
                <%= submitted(oi.order.date_submitted) %>
              <% end %>
            </td>

            <% if oi.order.status == "paid" || oi.order.status == "shipped"%>
              <% if oi.shipped_status == true%>
                  <td>shipped <%= link_to "Unmark", mark_order_item_path(oi.id), method: :patch%></td>
              <% else %>
                  <td> <%= link_to "Mark As Shipped", mark_order_item_path(oi.id), method: :patch %> </td>
              <% end %>
            <% else %>
              <td>order still pending</td>
            <% end %>
            <td>
              <%= oi.order.status %>
            </td>
          </tr>
        </div>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  </section>

</div>
</section>
