<%= Category.all.each do %>
<%= check_box_tag(:name) %>
<%= label_tag(:name, :name) %>
<%end %>

<div>
  <%= Category.all.each do |category|%>
<%= check_box_tag(:name) %>
<%= label_tag(category.name) %>
<%end %>
</div>



<% @category = Category.all %>
<%= form_for @category do |f| %>
<%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |m| %>
  <%= m.check_box %> <%= m.label %>
<% end %>
<%end%>
