<h2>List of Products</h2>

<%= form_tag("/category", method: "get") do %>
    <%= label_tag(:category_id, "Find Product by Category:") %>
    <%= collection_select(:category, :id, Category.all, :id, :name) %>
    <%= submit_tag("GO") %>
<% end %>

<table>
  <h3> Products </h3>
  <thead>
    <tr>
      <th>Category </th>
      <th>Product-Name</th>
    </tr>
  </thead>
  <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><% product.categories.each do |category| %> <%= link_to category.name, category_path(category.id) %> <% end %></td>
        <td><%= link_to product.name, product_path(product.id) %></td>

      </tr>
      <% end %>
    </tbody>
  </table>
