<h1>THIS IS THE ROOT HOMEPAGE </h1>
<p>it should display all products</p>

<main class = "row">
  <section class = "row ">
    <p>Products</p>
    <% if Product.all == [] %>
    <%= "Products Coming Soon!" %>
    <%else%>

    <% Product.all.each do |product| %>
      <div>
        Image will go here-ish
        <%#= link_to image_tag(product.image_url), products_path(product.id)%>
        <ul>
          <li> Product: <%= product.name %>
          </li>
          <li> Price per unit: $<%=product.price%>
          </li>
          <li> Categories:
            <% product.categories.each do |category|%>
              <%=category.name%>
            <% end %>
          <li> Merchant: <%= Merchant.find_by(id: product.merchant_id).name %>
          </li>
      </div>
      <%end%>
      <% end %>
    </section>
</main>
