<section>
  <h3>Category</h3>
  <h3>Product: <%= @product.name %></h3>

  <%= image_tag(@product.image_url) %>
  <h3>Merchant ID: <%= link_to @product.merchant.id, merchant_path(@product.merchant) %></h3>
  <h3><%= @product.description %></h3>
  <h3>Cost: $<%= sprintf("%.2f", @product.price) %></h3>
  <h3><%= @product.inventory %> in stock</h3>
</section>


<div>
  <%= button_to "Edit", edit_product_path(@product.id), method: :get %>

  <%= button_to "Delete", product_path(@product.id), method: :delete %>
</div>
