<section class="product-image">
  <div class="row">
  <h4 id="product-name"> Product: <%= @product.name %></h4>
<section class="small-6 column">
  <%= image_tag(@product.image_url, class: "img-size") %>
</section>

  <section class="product-info small-6 column">
    <h4>Merchant: <%= link_to @product.merchant.name, merchant_products_path(merchant_id: @product.merchant_id) %></h4>
    <p><%= @product.description %></p>
    <p><%= @product.inventory %> in stock</p>
    <p> Price: <%=  number_to_currency @product.price %> </p>
        Categories: <% @product.categories.each do |category| %>
      <p><%= link_to category.name, category_products_path(category_id: category.id)%></p>
      <% end%>
      <%= render partial: 'layouts/add_order_item_to_order'%>

      <%= button_to "Add Review",  new_product_review_path(@product.id), method: :get, class: "button add-review"%>

      <%= button_to "Read Review", product_reviews_path(@product.id), method: :get, class: "button read-review"%>
  </section>
    </div>

<div>
  <% if session[:merchant_id] == @product.merchant_id %>
  <h5> Active Status:
    <% if @product.visible %>
    <%= "Active" %>
    <%else%>
    <%= "Inactive" %>
    <%end%>
  </h5>


    <ul>
      <li>
  <%= button_to "Edit", edit_product_path(@product.id), method: :get, class: "button", id: "edit" %>
</li>
<li>
  <%= button_to "Delete", product_path(@product.id), method: :delete, class: "button", id: "delete" %>
</li>

  <% end %>
  </div>
</div>
