<div class="reviews">

<h3>Reviews for <span><%= link_to @product.name, product_path(@product.id) %> </span>   <%= image_tag((@product.image_url), id: "image-review")%>
</h3>
<h4>Merchant: <%= @product.merchant.name %>  </h4>

  <div class="list-products row small-up-1 medium-up-4 large-up-6">
<% if @product.reviews.count == 0 %>
  <h4><%= "This product has not been reviewed yet! Be the first to review?" %></h4>


<div class="column">
<div>
  <%= button_to "Add a Review",  new_product_review_path(@product.id), method: :get, class: "button" %>
</div>
<%else%>
<ul class = "reading-review">
<% @product.reviews.each do |review| %>

    <li> Rating: <%= review.rating %>
      <p> <%= review.description %> </p>


    </li>
<% end %>
</ul>
<% end %>
<!-- <div class="review-img"> -->
<!-- </div> -->
</div>
