<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <body>
        <header class="page-header row">
          <h2 class="row" "small-12 columns"> Vine & Bloom |
          <small> Buy your plants here! </small>
        </h2>
          <nav class="row">
            <div class="large-8 small-12 columns button-group">
              <%= link_to "View All Products", products_path, class: "button" %>
              <%= link_to "View Products by Category (dropdown)", products_path, class: "button" %>
              <%= link_to "Add a New Product", new_product_path, class: "button" %>
            </div>

            <div class="float-right">
              <% if @login_merchant %>
                <%= link_to "My Account: Logged in as #{@login_merchant.username}", user_path(@login_merchant), class: "button"%>
                <%= link_to "Log Out", logout_path, method: :post, class: "button" %>
              <% else %>
                <%= link_to "Log In", login_url, class: "button float-right" %>
                <%= link_to "Merchant Sign up through GitHub", auth_callback_path(:github), class: "button" %>
              <%end%>
            </div>
          </nav>
        </header>

      <section class="flash">
        <% flash.each do |name, message| %>
          <div class="<%= name %>"> <%= message %> </div>
        <% end %>
      </section>

        <%= yield %>
      </body>
  </body>
</html>
